
    body {
        background-color: rgb(81, 78, 76);}
    h1   {
        color: rgb(255, 136, 0);
        font-family: verdana;
        font-size: 200%;}
    p1   {
        color: rgb(246, 242, 242);
        font-family: Bitstream Vera Sans Mono;
        font-size: 160%;
        padding: 10px;
        width: 95%;
        margin: 10px auto;
        text-align: center;}
    
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       text-align: center;
       background-color: whitesmoke;
       color: #317dbb;
       font-family: courier;
       font-size: 80%;}
    
/* Dropdown Button */
.dropbtn {
    background-color: rgb(238, 217, 29);
    color: rgb(15, 121, 219);
    font-family: verdana;
    padding: 16px;
    font-size: 16px;
    border: none;
  
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-family: Courier;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #8e863e;}

.content {
  max-width: 600px;
  margin: auto;
}
